<h1>Listing journals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th>Journal type</th>
    <th>Is primary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @journals.each do |journal| %>
  <tr>
    <td><%= journal.name %></td>
    <td><%= journal.description %></td>
    <td><%= journal.user %></td>
    <td><%= journal.journal_type.name %></td>
    <td><%= journal.is_primary %></td>
    <td><%= link_to 'Show', user_journal_path(@user,@journal) %></td>
    <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
    <td><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Journal', new_journal_path %>
