<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @journal.name %>
</p>

<p>
  <b>Description:</b>
  <%= @journal.description %>
</p>

<p>
  <b>User:</b>
  <%= @journal.user %>
</p>

<p>
  <b>Journal type:</b>
  <%= @journal.journal_type %>
</p>

<p>
  <b>Is primary:</b>
  <%= @journal.is_primary %>
</p>


<%= link_to 'Edit', edit_user_journal_path(@user,@journal) %> |
<%= link_to 'Back', user_journals_path %>
