
<header class="navbar">
  <nav class="navbar-inner">
    <div class="container-fluid margincruncher">
      <%= link_to "Harvestgeek", root_path, :class => 'brand' %>
      <ul class="nav">
          <li class="nav-link" data-nav-link-id="admin" data-nav-link-group="main">
            <%= link_to "Crud Tables", :action => 'index', :controller => '/crud_tables'  %>
          </li>
           <li class='pull-right'>
              <%= link_to 'Products', products_path %>        
           </li>
           
          <% if !user_signed_in? %>
          <li class="divider-vertical"></li>
          <li class="drop down">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              Sign In 
              <b class="caret"></b>
            </a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <%= render :partial => "devise/sessions/login" %>             
            </div>
          </li>
          <% end %>
        </li>
          <% if user_signed_in? %>
           <li class='pull-right'>
              <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
           </li>
           <li>
              <%= link_to 'Edit account', edit_user_registration_path %>
            </li>
            <% if current_user.has_role? :admin %>
              <li class='pull-right'>
               <%= link_to 'Admin', users_path %>
              </li>
            <% end %>
            <% end %>
          </ul>
        </div>
    </nav>   <script>
     $(document).ready(function()
      {
      //Handles menu drop down
      $('.dropdown-menu').find('form_for').click(function (e) {
            e.stopPropagation();
             });
      });
    </script>
    <%= javascript_include_tag "bootstrap-dropdown" %> 
</header>

  



